<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D20 Dining</title>
    <!-- PWA Setup -->
    <meta name="theme-color" content="#290000">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-startup-image" href="/images/splashScreen.png">
    <link rel="apple-touch-icon" href="/favicon_io/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="./js/common.js" type="module"></script>
</head>
<body>

    <header>
        <nav class="navbar">
            <a href="/home" class="navbar-brand">
                <!-- <span class="d20-brand">D2</span> -->
                <img src="./images/d20-dice.png" alt="D20 Dining logo" class="navbar-logo">
            </a>
        </nav>           
    </header>

    <main role="main" class="container">
        
        <h1>ERROR - You Are Offline</h1>

    </main>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
