html {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #290000;
    margin: 0;
    padding: 0;
    color: white;
}

/* Header Section */

.profile-header {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #f7ce65;
    color: #f7ce65;
}

.profile-header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.edit-btn {
    background: none;
    border: none;
    color: #f7ce65;
    padding: 0;
    font-size: 32px;
    width: 24px;
    margin-bottom: 15px;
}

.edit-btn:focus {
    outline: none;
    box-shadow: none;
}

.edit-btn-placeholder {
    width: 24px;
    height: 24px;
    visibility: hidden;
}

/* Main Section */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.profile-picture-container {
    width: 220px;
    height: 220px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 150%;
    height: auto;
    object-fit: cover;
}

.profile-info {
    margin-top: 50px;
    width: 80%;
    max-width: 400px;
}

.profile-info h2, .profile-info span {
    margin: 10px 0;
}

.info-separator {
    width: 100%;
    margin: auto;
    border: none;
    border-top: 1px solid #f7ce65;
    margin-bottom: 20px;
}

/* Footer Section */

footer {
    background-color: #290000;
    border-top: 2px solid #f7ce65;
}
  
.nav-item {
    text-align: center;
    flex-grow: 1;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}