/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('../images/parchment-paper.jpg');
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Header Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.navbar-brand {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-logo {
    width: 40px;
    height: 40px;
}

.custom-select-wrapper {
    position: relative;
    margin: 0 auto;
}

.custom-select {
    border: 1px solid #290000;
    border-radius: 5px;
    height: 40px; 
    appearance: none; 
    background-color: #290000;
    color: white;
    font-size: 1rem;
    width: 100%;
}   

.custom-select-wrapper:after {
    content: '\25BC'; /* Unicode for downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}

.custom-select:hover {
    background-color: #3f1b1b;
}

.settings-btn {
    background: none;
    border: none;
    padding: 0;
}

.settings-icon {
    width: 40px; 
    height: 40px; 
    color: #290000;
}

/* Main Section */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 120px);
    text-align: center;
    margin-top: 150px;
}

.dice-image {
    width: 70%; 
    height: auto; 
    max-width: 100%; 
}

.dice-container span {
    display: block; 
    margin-top: 1rem; 
    font-size: 1.5rem;
    color: #000;
}

.roll-btn {
    background-color: #930c10; 
    color: #ffffff;
    border-radius: 5px; 
    padding: 10px 20px;
    margin-top: 2rem;
    font-size: 1.5rem; 
    border: none; 
    cursor: pointer;
    width: 200px;
}

/* Footer Section */

footer {
    background-color: #290000;
    border-top: 1px solid #ddd;
}
  
.nav-item {
    text-align: center;
    flex-grow: 1;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}

/* Responsive styles */

@media (max-width: 768px) {

    .dice-container span {
        font-size: 1rem; 
    }

    .roll-btn {
        font-size: 1rem; 
        padding: 5px 10px; 
        width: 150px;
        
    }
}

@media (min-width: 769px) {

    .container {
        margin-top: 50px;
    }
    
    .dice-container span {
        font-size: 1rem; 
    }

    .roll-btn {
        font-size: 1rem; 
        padding: 5px 10px; 
        width: 150px;
        
    }
}
